<!DOCTYPE html>
<html lang="en" ng-app="myModule">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="angular.js"></script>
    <script src="Script.js"></script>
</head>

<body>
    <div class="container p-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div ng-controller="myController">
                    <p>Rows to display</p>
                    <input type="number" step="1" min="0" max="5" ng-model="rowLimit" class="form-control mb-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date of Birth</th>
                                <th>Gender</th>
                                <th>Salary (number)</th>
                                <th>Salary (currency)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- limitTo: YOUR_LIMIT : STARTS_WITH -->
                            <tr ng-repeat="employee in employees | limitTo: rowLimit">
                                <td>{{employee.name | uppercase}}</td>
                                <td>{{employee.dateOfBirth | date: 'dd/MM/yyyy'}}</td>
                                <td>{{employee.gender | lowercase}}</td>
                                <td>{{employee.salary | number: 2}}</td>
                                <td>{{employee.salary | currency}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>